/*Delete all brs*/
:root{
  --font-color:grey;

}
*{
	margin: 0 2%;
}
/*this defines class1*/
.class1 {
  background-color: red;
  padding: 20px;
  margin: 200px;
  color: pink;
  font-family: futura, sans-serif;
  font-size: 50px;
}

/*this defines paragraph element*/
p{
  color: var(--font-color);
}

h1{
  font-family:PicNic, sans-serif;
  font-size: 150px
}
/*this defines h2 element*/
h2{
  font-family:PicNic, sans-serif;
  font-size: 100px
}

.div2 {

	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 40px;
	margin-left: 50px;
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 40px;
	padding-bottom: 50px;
	border-top: 30px dotted green;
	border-right: 30px dotted green;
	border-bottom: 30px dotted green;
	border-left: 30px dotted green;
}

body {
background-color: #edd2ca;
}
